<% content_for :header do %>
  <%= javascript_include_tag 'testconfigs/configs.js' %>
<% end %>

<h1>Editing Config</h1>

<%= render 'edit_form' %>

<%= link_to 'Show', @testconfig %> |
<%= link_to 'Back', testconfigs_path %>
